---
layout: default
---
<article class="post" itemprop="articleBody">
  <header>
    {% if page.image %}
      <figure class="post-image">
        <a href="{{ page.url }}" title="{{ page.title }}">
          <img src="{{ page.image }}" itemprop="image" alt="Image post: {{ page.title }}"/>
        </a>
      </figure>
    {% endif %}
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
    <a class="post-category" href="http://tableless.com.br/?cat=522">{{ page.categories }}</a>
    <h1 class="post-title" itemprop="name">
      <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
    {% if page.description %}
      <p class="post-headline" itemprop="headline">{{ page.description }}</p>
    {% endif %}
    <span class="post-author">
      By
      <a href="{{ site.author.twitter }}" rel="author"> <strong>{{ site.author.name }}</strong></a>
    </span>
  </header>
  <div class="post-content">{{ content }}</div>
  <footer>
    <!--script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
      var disqus_shortname = 'example'; // Required - Replace example with your forum shortname
      var disqus_identifier = 'a unique identifier for each page where Disqus is present';
      var disqus_title = 'a unique title for each page where Disqus is present';
      var disqus_url = 'a unique URL for each page where Disqus is present';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script-->
  </footer>
</article>
