{% if paginator %}
  {% if paginator.previous_page %}
    {% capture prev_title %}Page {{ paginator.previous_page }}{% endcapture %}
    {% assign prev_url = paginator.previous_page_path %}
  {% endif %}
  {% if paginator.next_page %}
    {% capture next_title %}Page {{ paginator.next_page }}{% endcapture %}
    {% assign next_url = paginator.next_page_path %}
  {% endif %}
{% else %}
  {% assign prev_title = page.previous.title %}
  {% assign prev_url = page.previous.url %}
  {% assign next_title = page.next.title %}
  {% assign next_url = page.next.url %}
{% endif %}
<link rel="canonical" href="{{ page.url | to_absurl }}">
<link rel="start" href="{{ '/' | to_baseurl }}" title="{{ site.title }}">
{% if prev_url %}
  <link rel="prev" href="{{ prev_url | to_baseurl }}" title="{{ prev_title }}">
{% endif %}
{% if next_url %}
  <link rel="next" href="{{ next_url | to_baseurl }}" title="{{ next_title }}">
{% endif %}
