<meta charset="utf-8">
<base href="{% site.baseurl %}">

{% include head/meta-tags.html %}

<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
<link href="//fonts.googleapis.com" rel="dns-prefetch">
<link href="//ajax.googleapis.com" rel="dns-prefetch">
<link href="/humans.txt" rel="author" type="text/plain">

{% include head/links.html %}

<!-- build:css({app,.tmp}) /css/main.css -->
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/main.css">
<!-- endbuild -->

<!-- build:js /js/head-scripts.js -->
<script src="_bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

{% include custom/head.html %}
